/* Then Name: dropTheHatch
Author: Sean Hatch
Author URL: https://www.dropthehatch.com
Description: Official theme of DropTheHatch
Version: 1.0
*/




html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*******
Top Navigation and contents
                      *****/


header {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

footer {
  width:auto;
  height: 10%;
  background-color: #4AB0D5;
}

.main-navbar {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  height: 64px;
  background-color: #ffffff;
}

/***
Container for all of the links
***/

nav {
  display: flex;
  margin-right:20%;
}


nav ul {
  list-style-type: none;
  display: flex;
  margin: auto;
  padding-inline-start: 0px;
}

/*** The shape of the links ***/

nav ul li a {

  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 27px 12px 27px 12px;
  display: block;
  font-size: .6em;
  font-family: sans-serif;
  color: #777777;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li {
  height: inherit;
  width: auto;
  text-align: center;
  cursor: pointer;
  margin: 0 4%;
}

/****
Styles the active/focus state of the main navbar
*****/

nav ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #4AB0D5;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover {
  color: #383E41;
  transition: all 0.3s ease-in-out 0s;
  background-color: #f7f7f7;
}

nav ul li a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/***
Logo logoContainer
***/

#logoContainer {
  position: relative;
  cursor: pointer;
  margin-left: 10%;
  height: auto;
  width: 4em;
  background: -webkit-linear-gradient(#5A5F63,#383E41);
}

#logoContainer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #EFCA50;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#logoContainer:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.logosvg {
  margin: auto;
  padding-top: 4px;
	display: block;
  height: 3em;
}

/******
Right hand side of the screen navigation bar that lets you know what page you are on.
********/

.side-Nav-desktop {
  position:fixed;
  right:0;
  display:flex;
}

.side-Nav ul {
  list-style-type: none;
  margin-right: 24px;
}

/** Opacity of Right Navigation ***/

.side-Nav ul li {
  opacity: 0.25;
}

/** shape - width - of number's box **/

.side-Nav ul li a {
  box-sizing: border-box;
  position: relative;
  padding: 18px 6px;
  display: block;
  font-size: .8em;
  font-family: sans-serif;
  color: #383E41;
  text-decoration: none;
  text-transform: uppercase;
}

.side-Nav ul li a::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #4AB0D5;
  transform: scaleY(0);
  transform-origin: center;
  transition: all 0.35s ease-in-out 0s;
}

.side-Nav ul li a::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  right: -1px;
  background-color: #4AB0D5;
}


/*** Hover/active/focus states for the side nav ***/

.side-Nav ul li:hover {
  opacity: 1;
}

.side-Nav ul li:active {
  opacity: 1;
}

.side-Nav ul li a:hover::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  right: -2px;
  transform-origin: center;
  background-color: #4AB0D5;
  transform: scaleY(1);
}

.side-Nav ul li a:hover::before {
  content: "";
  display: none;
}


/* Button Styling starts here*/

.button-container-desktop {
  margin-top: 10%;
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
}

.button-container-mobile {
  bottom: 0px;
  left: 0px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
}

/******
This Removes the Blue focus ring
                        ******/


button:focus {
  outline: none;
}

/****
Generic Button Styling
                  ****/

button {

  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8em;
  cursor: pointer;
}

/******
Button that toggles the different page conent on left side of screen
********/

.button-desktop {
  position: relative;
  background-color: #F1F1F1;
  color: #383E41;
  opacity: .25;
  padding: 16px 32px;
  margin: 4px 0;
  width: 150px;
}

.button-mobile {
  position: relative;
  background-color: #F1F1F1;
  color: #383E41;
  opacity: .25;
  padding: 1em 2em;
  width: 34vw;
  justify-content: space-between;
}

.button-desktop::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 100%;
  right: -10px;
  top: 0px;
  right: -32px;
  background-color: #636363;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.button-mobile::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  top: 0px;
  left: 0px;

  background-color: #636363;
}

/****
Style of the active/focus state of button
****/

.button-desktop:focus {
  opacity: 1;
  color: #4AB0D5;
  transition: all 0.3s ease-in-out 0s;
}

.button-mobile:focus {
  opacity: 1;
  color: #4AB0D5;
}

.button-desktop:focus::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 100%;
  top: 0px;
  right: -32px;
  background-color: #4AB0D5;
  transform: scaleX(1);
  transition: all 0.3s ease-in-out 0s;
}

.button-mobile:focus::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  top: -4px;
  left: 0px;
  background-color: #4AB0D5;
}

button:hover {

}

.landingPage {
  height: 100%;
  background-image: url(Images/Background.png);
}

.websiteName {
  position: absolute;
  bottom: 10px;
  font-size: 350px;
  line-height: .4;
}

/**** Layouts of button and side navigation ****/

.gui-overlay {
  width: 100%;
  display: flex;
}


/**** Image Container *****/

.image-container {
  width: 100%;
  height: 100%;
}

/* Main Content area */

.main-content-container {
  /*border: 4px solid blue; */
  width: 60%;
  height: auto;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.main-content {

}

/* Screen Sizes*/


@media only screen and (max-width: 580px) {
  nav ul li {
    width: auto;
    padding: 0 8px;
  }
}

@media only screen and (max-width: 400px) {

  nav ul li {
    width: auto;
    padding: 0 4px;
  }

  .side-Nav-desktop {
    display: none;
  }
}
